<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label">用户</label>
            <div class="layui-input-block">
                <input type="text"  class="layui-input" disabled value="{$userinfo.nick_name|default=''}">
                <input type="hidden" name="user_id"  value="{$userinfo.id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回访人员</label>
            <div class="layui-input-block">
                <input type="text"  class="layui-input" disabled value="{$row.admin.username|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回访质量(星级)</label>
            <div class="layui-input-block">
                <div id="test1"></div>
                <input type="hidden" name="star" id="star"  value="{$row.star|default=1}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标记客户状态</label>
            <div class="layui-input-block">
                <select name="type_id"  lay-verify="required" data-value="{$row.type_id|default=1}"  data-select="{:url('fish.type/index')}" data-fields="id,title" disabled>
                </select>
            </div>
        </div>
        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">是否继续跟踪</label>-->
        <!--            <div class="layui-input-block">-->
        <!--                <input type="text" name="status" class="layui-input"  placeholder="请输入是否继续跟踪" value="0">-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label ">图片说明</label>
            <div class="layui-input-block layuimini-upload">
                <input name="images" class="layui-input layui-col-xs6"   placeholder="请上传图片说明" value="" disabled>
                <div class="layuimini-upload-btn">
<!--                    <span><a class="layui-btn" data-upload="images" data-upload-number="more" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>-->
<!--                    <span><a class="layui-btn layui-btn-normal" id="select_images" data-upload-select="images" data-upload-number="more" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>-->
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回访备注</label>
            <div class="layui-input-block">
                <!--                <input type="text" name="notes" class="layui-input"  placeholder="请输入回访备注" value="">-->

                <textarea name="notes" class="layui-textarea" placeholder="请输入回访备注" disabled>{$row.notes|default=''}</textarea>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>
<script>
    layui.use('rate',function () {
        let rate = layui.rate;
        //基础效果
        rate.render({
            elem: '#test1',
            text: true,
            value:{$row.star|default=1},
            readonly: true,
            choose: function(value){
                // if(value > 4) alert( '么么哒' )
                $("#star").val(value);
            },
            setText: function(value) { //自定义文本的回调
                var arrs = {
                    '1': '极差'
                    , '2': '差'
                    , '3': '中等'
                    , '4': '好'
                    , '5': '极好'
                };
                this.span.text(arrs[value] || ( value + "星"));
            }

        });

    });
</script>