<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" class="layui-input"  placeholder="请输入标题" value="{$row.title|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">颜色</label>
            <div class="layui-input-block">
                <input type="text" name="color" class="layui-input"  placeholder="请输入颜色" value="{$row.color|default=''}">
                <tip>例如：#fff,#ffffff,red</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户级别</label>
            <div class="layui-input-block">
                <div id="test1"></div>
                <input type="hidden" name="star" id="star"  value="1">
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>


<script>
    layui.use('rate',function () {
        let rate = layui.rate;
        //基础效果
        rate.render({
            elem: '#test1',
            // text: true,
            value:{$row.star|default=1},
            theme:"#F56D6D",
            choose: function(value){
                // if(value > 4) alert( '么么哒' )
                $("#star").val(value);
            },


        });

    });
</script>